@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a asp-action="ExpensePage" class="btn btn-primary">Show Balance</a>
    <a asp-action="CreateOrEdit" class="btn btn-secondary">Edit Or Create</a>
</div>
